        </main>
        <footer>
          <h6>
            {{ .Site.Copyright | markdownify }} &middot;
            <a href="#subscribe-modal" rel="modal:open">subscribe()</a> &middot;
            <a href="/index.xml">RSS</a> &middot;
            <a href="{{ .Site.Params.github_url }} ">Code on Github</a>
          </h6>
        </footer>
      </div>
    </div>
  </div>
  <script>
    window.algolia = {
      appId: "{{ getenv "ALGOLIA_APP_ID" }}",
      searchApiKey: "{{ getenv "ALGOLIA_SEARCH_API_KEY" }}",
      indexName: "{{ getenv "ALGOLIA_INDEX_BASE_NAME" }}-{{ getenv "COMMIT_REF" }}"
    }
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script defer src="/app.js"></script>
</body>
</html>
