        </main>
        <footer>
          <h6>
            {{ .Site.Copyright | markdownify }} &middot;
            <a href="#subscribe-modal" data-modal>subscribe()</a> &middot;
            <a href="/index.xml">RSS</a> &middot;
            <a href="{{ .Site.Params.githubURL }} ">Code on Github</a>
          </h6>
        </footer>
      </div>
    </div>
  </div>
  {{ partial "algolia-variables" }}
  {{ partial "twitter-for-websites" }}
  <script defer src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script defer src="/app.js"></script>
</body>
</html>
