<script>
function loaded() {
  $('.preloader').fadeOut();
  $('body').addClass('loaded');
  $('.typed-subtitle').typed({
    stringsElement: $('.typing-subtitle'),
    loop: true
  });
  $('.typed-bread').typed({
    stringsElement: $('.typing-bread'),
    showCursor: false
  });
}
</script>
{{ if (eq (getenv "CONTEXT") "development") -}}
<script>
  var width = $(window).width();
  var height = $(window).height();
  $('.section.started').css({'height': height-60});
  $('.preloader').hide();
  loaded();
</script>
{{- else }}
<script>
  $('.typed-load').typed({
    stringsElement: $('.typing-load'),
    loop: true
  });
  $(window).load(function() {
    $(".preloader .pre-inner").fadeOut(800, function(){
      loaded();
    });
    $('header, footer, .typed-bread').on('click', 'a', function(){
      var link = $(this).attr('href');
      $('body').removeClass('loaded');
      setTimeout(function() {
        location.href = "" + link;
      }, 500);
      return false;
    });
  });
</script>
{{- end }}
