<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  {{ partial "meta" . -}}
  {{ partial "header_includes" . -}}
  {{ partial "analytics" . -}}
</head>
<body>
  <div id="container">
    <header>
      <h1>
        <a href="/">{{ .Site.Params.Header | markdownify }}</a>
      </h1>
      {{ with .Site.Params.tagline }}
        <p>{{ . | markdownify }}</p>
      {{ end }}
      {{ partial "social" . }}
    </header>
    {{ partial "nav" . }}
    <div id="main-and-algolia">
      <main>
        <div id="algolia-hits"></div>
        <div id="algolia-attribution">
          <a href="https://algolia.com/">
            <img src="/images/search-by-algolia.png">
          </a>
        </div>
        <div id="main-inner">
