<script src="/js/jquery.min.js"></script>
<script src="/js/typed.js"></script>
{{- partial "glitch-load" . -}}
<script defer src="/js/magnific-popup.js"></script>
<script defer src="/js/imagesloaded.pkgd.js"></script>
<script defer src="/js/masonry.pkgd.js"></script>
<script defer src="/js/masonry-filter.js"></script>
<script defer src="/js/glitche-scripts.js"></script>
<script defer src="/app.js"></script>
<script>
(function() {
  var myCSS = document.createElement("link");
  myCSS.rel = "stylesheet";
  myCSS.href = "/css/vendor.css";
  document.head.insertBefore(myCSS, document.head.childNodes[document.head.childNodes.length - 1].nextSibling);
})();
</script>
<script async src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>
