{{ $currentPage := . }}
<nav>
  <ul>
    <li class="search-holder">
      <div class="search-inner">
        <i class="fa fa-search"></i>
        <input id="algolia-search" type="text" autocomplete="off" placeholder="search...">
      </div>
    </li>
    {{ range .Site.Menus.main }}
    {{ $title := or .Page.Params.menuTitle .Page.Title }}
    <li class="nav-menu item-{{ $title }}">
        <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (and (eq .Page.Dir $currentPage.Dir) (ne $currentPage.Dir "")) }}active{{end}}" href="{{.URL}}">
            <i class="fa-li fa {{ .Pre }} fa-lg"></i><span>{{ $title }}</span>
        </a>
    </li>
    {{ end }}
  </ul>
</nav>
