<div class="soc">
  {{ if .Site.Author.twitter }}
  <a target="_blank" href="https://twitter.com/{{ .Site.Author.twitter }}"><span class="ion ion-social-twitter"></span></a>
  {{ end }} {{ if .Site.Author.github }}
  <a target="_blank" href="https://github.com/{{ .Site.Author.github }}"><span class="ion ion-social-github"></span></a>
  {{ end }} {{ if .Site.Author.linkedin }}
  <a target="_blank" href="https://linkedin.com/in/{{ .Site.Author.linkedin }}"><span class="ion ion-social-linkedin-outline"></span></a>
  {{ end }} {{ if .Site.Author.instagram }}
  <a target="_blank" href="https://instagram.com/{{ .Site.Author.instagram }}"><span class="ion ion-social-instagram-outline"></span></a>
  {{ end }} {{ if .Site.Author.calendly }}
  <a target="_blank" href="https://calendly.com/{{ .Site.Author.calendly }}"><span class="ion ion-calendar"></span></a>
  {{ end }} {{ if .Site.Author.email }}
  <a target="_blank" href="mailto:{{ .Site.Author.email }}"><span class="ion ion-email"></span></a>
  {{ end }}
</div>
