<a id="subscribe-button" href="#subscribe-modal" rel="modal:open">subscribe()</a>
<div id="subscribe-modal" class="modal">
  <h2>$ GET the dzello.com "newsletter"</h2>
  <p>
    Don't worry! You will not be hooked up to any marketing automation software. The emails
    you receive will not be sent at scheduled intervals nor A/B tested. You will hear from
    me occassionally about <strong>developer relations trends</strong> and
    <strong>new developer tools</strong>.
  </p>
  <p>
    Please enter your email address and click submit.
  </p>
  <form id="subscribe-form">
    <div class="fields">
      <input type="email" required name="email" placeholder="Your email address">
      <input type="submit" value="Submit" id="submit-button">
    </div>
    <div class="status"></div>
  </form>
</div>
