<a class="button" id="subscribe-button" href="#subscribe-modal" data-modal>subscribe()</a>
<div id="subscribe-modal" class="modal">
  <h2>$ GET the dzello.com "newsletter"</h2>
  <p>
    Don't worry! You will not be hooked up to any marketing automation software. The emails
    you receive will not be sent at finely-tuned intervals nor A/B tested. You will hear from
    me occassionally about <strong>developer relations trends</strong> and
    <strong>new developer tools and startups</strong>.
  </p>
  <p>
    Please enter your email address and click submit.
  </p>
  <form id="subscribe-form">
    <div class="fields">
      <input type="email" required name="email" placeholder="Your email address">
      <input class="button" type="submit" value="Submit" id="submit-button">
      <br><br>
      <hr>
      <em>PS: This is also just a good way to stay in touch with me and help me stay in touch with you. I'll always welcome a reply to the messages that go out!</em>
    </div>
    <div class="status"></div>
  </form>
</div>
