<div class="section blog">
  <div class="content">
    <div class="single-post-text">
      {{ if isset .Page.Params "image" }}
      <div class="title-image">
        <a href="{{ .Permalink }}">{{ partial "cloudinary" .Page.Params.image }}</a>
        {{ with .Page.Params.imageCaption }}
        <div class="caption">{{ . }}</div>
        {{ end }}
      </div>
      {{ end }}
      {{ if isset .Page.Params "imageCaption" }}
      <div class="caption">{{ .Page.Params.imageCaption }}</div>
      {{ end }}
      <article>
        {{ .Content }}
      </article>
    </div>
  </div>
</div>
{{ if not .Page.Params.noDiscuss -}}
<div class="section">
  <div class="content">
    {{ partial "blog/discuss" . }}
  </div>
</div>
{{- end }}
<div class="section">
  <div class="content">
    {{ partial "blog/pagination" . }}
  </div>
</div>
