article.image-first aside {
  float: right;
}

article boom {
  font-family: Ruda, sans-serif;
  font-size: 24px;
  line-height: 10px;
}

#container main section.post-nav ul {
  margin-top: 30px;
  margin-bottom: -20px;
}
