.modal {
  padding: 30px;
}

.jquery-modal {
  z-index: 10;
}

#subscribe-button {
  position: absolute;
  top: 40px;
  right: 0;
}

#submit-button {
  cursor: pointer;
  padding: 10px;
  line-height: 19px;
}

#subscribe-modal h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

input[type=email] {
  width: 200px;
  outline: 0;
  padding: 10px;
  border: 2px dashed var(--inputBorderColor);
  color: black;
}

#subscribe-form .status,
#subscribe-form.status-success .fields {
  display: none;
}

#subscribe-form.status-success .status {
  display: block;
  margin-top: 35px;
  margin-bottom: 0;
  color: var(--successColor);
  text-align: center;
}

@media (max-width: 420px) {
  #subscribe-button {
    position: static;
  }
}
