.tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tile {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: var(--greyBackgroundColor);
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.tile:hover {
  background: var(--greyBackgroundHoverColor);
  transition: background-color 0.5s;
}

@media (min-width: 600px) {
  .tile.tile-half {
    width: 40%;
  }
}

.tile h2, .tile i {
  display: block;
  margin: 15px 0;
}

.tile i, .tile span {
  color: #333;
}

.tile h2 {
  font-size: 20px;
}
