:root {
  --greyBackgroundColor: #fafaff;
  --greyBackgroundHoverColor: #e9e9f1;
  --linkColor: #3333cc;
  --textColor: #333333;
  --borderColor: #cecece;
  --lightTextColor: #999;
  --lightBorderColor: #f7f7f7;
  --inputBorderColor: #e1e1e7;
  --successColor: green;
}
