ul.work-nav {
  margin: 25px 0 15px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.work-nav li {
  margin: 5px;
  font-size: 16px;
}

ul.work-nav li a.active {
  font-weight: bold;
  color: var(--textColor);
}
