<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  {{ block "main-css" . -}}
  <link rel="stylesheet" type="text/css" href="/css/main-{{ or .Page.Params.themeColor .Site.Params.themeColor }}.css" />
  {{- end }}
  {{ partial "layout/meta-tags" . }}
  {{ partial "layout/link-tags" . }}
</head>
<body>
  <div class="preloader">
    <div class="centrize full-width">
      <div class="vertical-center">
        <div class="pre-inner">
          <div class="load typing-load"><p>loading...</p></div>
          <span class="typed-load"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {{ partial "layout/top-menu" . }}
    <div class="wrapper">
      {{ if .Page.Params.skipStarted -}}
      <div class="no-section-started"></div>
      {{ else -}}
      <div class="section started">
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              {{ block "started-content" . -}}
                <div class="h-title glitch-effect" data-text="{{ .Page.Title }}">{{ .Page.Title }}</div>
                <div class="h-subtitle typing-bread">
                  <p><a href="/">Home</a> / {{ .Page.Title }}</p>
                </div>
                <span class="typed-bread"></span>
              {{- end }}
            </div>
          </div>
        </div>
        {{ block "scroll-btn" . -}}
        <a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
        {{- end }}
      </div>
      {{- end }}
      {{- block "main" . -}}
      {{- end }}
    </div>
    {{- partial "layout/footer" . }}
    <div class="line top"></div>
    <div class="line bottom"></div>
    <div class="line left"></div>
    <div class="line right"></div>
  </div>
  {{ partial "layout/subscribe-modal" . }}
  {{- partial "layout/javascripts" . }}
  {{- block "after-javascripts" . -}}
  {{- end }}
  {{- partial "layout/analytics" . }}
</body>
</html>
