<div class="discuss">
  <div class="twitter">
    <div class="title"><div class="title_inner">Tweet this</div></div>
    <a class="twitter-share-button"
      data-size="large"
      href="https://twitter.com/intent/tweet?text={{ .Title }}%20-%20@dzello">Tweet</a>
    <div class="social-icon"><span class="ion ion-social-twitter"></span></div>
  </div>
  <div class="form">
    <div class="title"><div class="title_inner">Question or comment?</div></div>
    <form id="discuss-form">
      <div class="fields">
        <input type="email" name="email" placeholder="Your email address" required>
        <textarea name="text" rows="3" placeholder="What'd you think?" required></textarea>
        <input class="btn fill" type="submit" value="Submit" class="button">
      </div>
      <div class="status"></div>
    </form>
  </div>
</div>
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));
</script>