{{ define "main" -}}
  <div class="section search">
    <div class="content">
      <input id="algolia-search" type="text" placeholder="🔎 search...">
      {{- partial "algolia/hits" . -}}
    </div>
  </div>
{{- end }}

{{ define "after-javascripts" -}}
  {{ partial "algolia/variables" . }}
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      window._search();
    });
  </script>
{{- end }}
