<div id="popup-subscribe" class="popup-box mfp-fade mfp-hide">
  <div class="content">
    <div class="desc">
      <h2>$ GET /newsletter</h2>
      <p>Get an email from me once a month about developer tools and developer relations.</p>
      <form id="subscribe-form">
        <div class="fields">
          <input type="email" required name="email" placeholder="Your email address">
          <input class="btn fill" type="submit" value="Submit" id="submit-button">
        </div>
        <div class="status"></div>
      </form>
    </div>
  </div>
</div>
