{{- $currentPage := . -}}
    <header>
      <div class="head-top">
        <a href="#" class="menu-btn"><span></span></a>
        <div class="top-menu">
          <ul>
            {{ range .Site.Menus.main -}}
            {{- $title := .Page.Title -}}
            <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (and (eq .Page.Dir $currentPage.Dir) (ne $currentPage.Dir "")) }}active{{end}}">
              <a class="lnk" href="{{ .URL }}">{{ $title }}</a>
            </li>
            {{ end -}}
            <li><a href="#popup-subscribe" class="btn fill has-popup">Subscribe</a></li>
          </ul>
        </div>
      </div>
    </header>