#container main {
  font-size: 1.0rem;
  line-height: 1.5;
}

header a,
nav a {
  color: #666;
}

main a {
  color: #3333BB;
}

header h1 {
  margin-bottom: 0.5rem;
}

header p {
  margin: 0 0 0.5rem;
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: right;
    margin: 1rem 0;
  }
  #container header ul li {
    margin: 0 0 0 1rem;
  }
}

#container header ul {
  margin-bottom: 0.5rem;
}

.home-intro {
  padding: 25px;
}

.home-intro-image {
  display: block;
  float: left;
  width: 125px;
  margin: 0 20px;
}

.home-intro-text {
  font-size: 15px;
  margin: 7px 0 0;
}

@media only screen and (min-width: 700px) {
  .home-intro-text {
    float: left;
    width: 425px;
    margin-left: 25px;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

main div.hr {
  border-bottom: 4px solid #cecece;
}

#list li a {
  display: inline-block;
  width: 75%;
}

ul.pagination li.active a {
  color: #666;
}

ul.pagination li.disabled a {
  display: none;
}

.post-nav li {
  max-width: 50%;
}

#container > footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#container > footer h6 {
  margin: 25px auto;
  text-align: center;
}

.image, figure img, img {
  box-shadow: none;
}

.center {
  text-align: center;
}

.caption {
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  display: block;
  margin: 3px 0 10px;
  color: #666666;
}

ul.render-data {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.render-data li {
  flex-grow: 1;
  width: 20%;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

ul.render-data li i {
  display: block;
  font-size: 2em;
  line-height: 1em;
  margin: 15px 0 20px;
}

ul.render-data li a {
  font-size: 1.2rem;
}

ul.render-data li p.abstract {
  color: #666666;
  font-size: 0.85rem;
}

ul.render-data li.work_type a {
  font-size: 1.2rem;
}

ul.render-data li.talk,
ul.render-data li.article,
ul.render-data li.activity,
ul.render-data li.mention {
  width: 40%;
}

iframe {
  border: 0;
}

hr {
  background-color: #f7f7f7;
  border: 0;
  height: 1px;
}
