#container main {
  font-size: 1.0rem;
  line-height: 1.5;
}

header a,
nav a {
  color: #666;
}

main a {
  color: #3333BB;
}

header h1 {
  margin-bottom: 1rem;
}

header p {
  margin: 1rem 0;
}

.home-intro {
  padding: 25px;
}

.home-intro-image {
  display: block;
  float: left;
  width: 20%;
  margin: 0 20px;
}

.home-intro-text {
  float: right;
  width: 70%;
  font-size: 15px;
  margin: 7px 0 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

main div.hr {
  border-bottom: 4px solid #cecece;
}

#list li a {
  display: inline-block;
  width: 75%;
}

ul.pagination li.active a {
  color: #666;
}

ul.pagination li.disabled a {
  display: none;
}

.post-nav li {
  max-width: 50%;
}

#container > footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#container > footer h6 {
  margin: 25px auto;
  text-align: center;
}

.image, figure img, img {
  box-shadow: none;
}

.center {
  text-align: center;
}

.caption {
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  display: block;
  margin: 3px 0 10px;
  color: #666666;
}

ul.render-data {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.render-data li {
  flex-grow: 1;
  width: 20%;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

ul.render-data li i {
  display: block;
  font-size: 2em;
  line-height: 1em;
  margin: 15px;
}

ul.render-data li a {
}

ul.render-data li p.abstract {
  color: #666666;
  font-size: 0.75rem;
}

ul.render-data li.category {
  font-size: 1.2rem;
}

ul.render-data li.talk {
  width: 40%;
}
