#container main {
  font-size: 1.0rem;
  line-height: 1.5;
}

header a,
nav a {
  color: #666;
}

main a {
  color: #3333BB;
}

header h1 {
  margin-bottom: 1rem;
}

header p {
  margin: 1rem 0;
}

.home-intro {
  padding: 25px;
}

.home-intro-image {
  display: block;
  float: left;
  width: 20%;
  margin: 0 20px;
  box-shadow: none;
}

.home-intro-text {
  float: right;
  width: 70%;
  font-size: 15px;
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

main div.hr {
  border-bottom: 4px solid #cecece;
}

#list li a {
  display: inline-block;
  width: 75%;
}

ul.pagination li.active a {
  color: #666;
}

ul.pagination li.disabled a {
  display: none;
}

.post-nav li {
  max-width: 50%;
}

footer {
  display: flex;
  align-items: center;
}

footer h6 {
  margin: 25px auto;
  text-align: center;
}

ul.render-data {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.render-data li {
  flex: 1;
  width: 32%;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  height: 200px;
}
