{{ define "main-css" -}}
<link rel="stylesheet" type="text/css" href="/css/main-orange.css" />
{{- end }}

{{ define "main" -}}
  {{ range $.Site.Data.workTypes.workType -}}
    {{- $workType := . -}}
    {{- $works := index (index $.Site.Data.work $workType.data) $workType.type -}}
    {{- $featuredWorks := first 6 $works }}
    {{- partial "layout/work-single" (dict "workType" $workType "works" $featuredWorks "top" $) -}}
    {{ if ge (len $works) 6 -}}
    <
    {{- end }}
  {{- end }}
{{- end }}
