{{ define "main-css" -}}
<link rel="stylesheet" type="text/css" href="/css/main-orange.css" />
{{- end }}

{{ define "main" -}}
  {{ $page := . }}
  {{ range $.Site.Data.workTypes.workType -}}
    {{- $workType := . -}}
    {{- $allWorks := index (index $.Site.Data.work $workType.data) $workType.type -}}
    {{- $works := first 2 (where $allWorks "hidden" "!=" true) }}
    {{ if isset $workType "image" }}
      <div class="section photo">
        <div class="content">
          {{ partial "cloudinary" $workType.image }}
        </div>
      </div>
    {{ end }}
    <div class="section works">
      <div class="content">
        <div class="title">
          <div class="title_inner">{{ $workType.title }}</div>
        </div>
        {{- $type := $workType.type -}}
        <div class="box-items">
          {{ range $works -}}
            {{ partial (printf "work/tiles/%s" $type) (dict "page" $page "work" .) }}
          {{- end }}
          {{ if ge (len $allWorks) 5 -}}
            <div class="box-item">
              <div class="image">
                <a href="/work/{{ $workType.data }}/">
                  {{ partial "cloudinary/custom" (dict "src" "pixel" "params" (printf "f_auto,q_100,w_400,h_300,c_lpad,bo_3px_solid_rgb:666666/l_text:Roboto Mono_28:SEE MORE \n%s..." (upper $workType.data))) }}
                  <span class="info">
                    <span class="centrize full-width">
                      <span class="vertical-center">
                        <span class="ion ion-link"></span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          {{- end }}
        </div>
      </div>
    </div>
  {{- end }}
{{- end }}
