{{ define "main-css" -}}
<link rel="stylesheet" type="text/css" href="/css/main-orange.css" />
{{- end }}

{{ define "started-content" -}}
  <div class="h-title glitch-effect" data-text="{{ .Page.Title }}">{{ .Page.Title }}</div>
  <div class="h-subtitle typing-bread">
    <p><a href="/work/">Work</a> / {{ .Page.Title }}</p>
  </div>
  <span class="typed-bread"></span>
{{- end }}

{{ define "main" -}}
  {{- $workType := index (where $.Site.Data.workTypes.workType "data" .Page.Params.dataList) 0 -}}
  {{ if $workType -}}
    {{- $works := index (index $.Site.Data.work $workType.data) $workType.type -}}
    <div class="section works">
      <div class="content">
        <div class="title">
          <div class="title_inner">{{ $workType.title }}</div>
        </div>
        <div class="filter-menu">
          <div class="filters">
            <div class="btn-group">
              {{ range $workType.categories }}
              <label data-text="{{ . }}"><input type="checkbox" value="f-{{ . }}" />{{ . }}</label>
              {{ end }}
            </div>
          </div>
        </div>
        {{- $type := $workType.type -}}
        <div class="box-items">
          {{ range $works -}}
            {{ partial (printf "work/%s.html" $type) . }}
          {{- end }}
        </div>
      </div>
    </div>
  {{- end }}
{{- end }}
