{{ $link_url := or .blog_url .video_url .slides_url .site_url }}
{{ $gridImageParams := "f_auto,q_auto,w_500,h_350,c_fill,g_auto,bo_1px_solid_rgb:f26b38" }}
{{ $popupImageParams := "f_auto,q_auto,w_500" }}
{{ $popupId := replace (base64Encode .title) "=" "" }}
<div class="box-item f-{{ .category}}">
  <div class="image">
    <a href="#popup-{{ $popupId }}" class="has-popup">
      {{ partial "cloudinary/custom" (dict "src" .image_url "params" $gridImageParams) }}
      <span class="info">
        <span class="centrize full-width">
          <span class="vertical-center">
            <span class="ion ion-ios-plus-empty"></span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div class="desc">
    <div class="date">{{ dateFormat "Jan 2, 2006" .date }}</div>
    <a href="#popup-{{ $popupId }}" class="name has-popup">{{ .title }}</a>
  </div>
  <div id="popup-{{ $popupId }}" class="popup-box mfp-fade mfp-hide">
    <div class="content">
      <div class="image">
        {{ partial "cloudinary/custom" (dict "src" .image_url "params" $popupImageParams) }}
      </div>
      <div class="desc">
        <div class="category">{{ .category }}</div>
        <h4>{{ .title }}</h4>
        <p>{{ .abstract }}</p>
        <a href="{{ $link_url }}" class="btn" data-text="View Project">View Project</a>
      </div>
    </div>
  </div>
</div>
