{{ $link_url := or .blog_url .video_url .slides_url }}
<li class="talk">
  {{ if isset . "image_url" }}
    <a href="{{ $link_url }}"><img src="{{ .image_url }}"></a>
    <br>
  {{ else }}
    <i class="fa fa-slideshare fa-lg"></i>
  {{ end }}
  <a href="{{ $link_url }}">{{ .title }}</a>
  <p>
    <a href="{{ .event_url }}">{{ .event }}</a> &middot; {{ dateFormat "January 2, 2006" .date }}
    <br>
  </p>
  <p class="abstract">{{ .abstract | markdownify }}</p>
  <p>{{ partial "work/_urls" . }}</p>
</li>
