body {
  header, footer, .section {
    transition-property: opacity;
    transition-duration: 0s;
  }
  &.loaded {
    header, footer, .section {
      transition-property: opacity;
      transition-duration: 1.2s;
    }
  }
  .btn, a.btn {
    /* fixes a fouc when showing/hiding this element */
    transition-property: color, background-color, border-color;
  }
  header {
    &.active {
      transition-property: opacity;
      transition-duration: 0.3s;
    }
    .head-top {
      .top-menu {
        @media (max-width: 840px) {
          .transition(opacity 0.3s ease 0s);
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none !important;
  }
}

input, textarea {
  border: 1px solid @light-color;
  padding: 10px 20px;
  outline: 0;
}

.mfp-hide {
  display: none !important;
}

.section.started .started-content {
  @media (min-width: 840px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.section .content a,
.popup-box .desc a {
  text-decoration: underline;
}

a.btn {
  text-decoration: none !important;
}

.no-section-started {
  height: 90px;
  @media (max-width: 840px) {
    height: 50px;
  }
}

code {
  background: none;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

pre {
  padding: 1em;
}

iframe {
  border: 0;
}

img.cld-responsive {
  width: 100%;
}

article img {
  display: inline-block;
  width: 100%;
}

ul.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 1em;
}

.resume-items .resume-item .logo {
  width: 35%;
  margin: 25px 0;
  @media (max-width: 840px) {
    width: 50%;
  }
  @media (max-width: 580px) {
    width: 80%;
  }
}

.skills .percent {
  white-space: nowrap;
  @media (max-width: 840px) {
    left: 0;
  }
}

.box-items .box-item {
  overflow: visible;
  .link-domain {
    color: @white-color;
    font-size: 13px;
  }
}

.box-items .box-item .desc {
  padding: 15px 25px 40px 25px;
  a {
    text-decoration: none;
  }
}

#subscribe-form.status-success .status {
  display: block;
  color: green;
}

#subscribe-form .status,
#subscribe-form.status-success .fields {
  display: none;
}

