h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none !important;
  }
}

.section .content a,
.popup-box .desc a {
  text-decoration: underline;
}

code {
  background: none;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

pre {
  padding: 1em;
}

iframe {
  border: 0;
}

img.cld-responsive {
  width: 100%;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 0 1em;
}

.resume-items .resume-item .logo {
  width: 35%;
  margin: 25px 0;
  @media (max-width: 840px) {
    width: 50%;
  }
  @media (max-width: 580px) {
    width: 80%;
  }
}

.skills .percent {
  white-space: nowrap;
  @media (max-width: 840px) {
    left: 0;
  }
}

.box-items .box-item {
  overflow: visible;
}

.box-items .box-item .desc {
  padding: 15px 25px 40px 25px;
  a {
    text-decoration: none;
  }
}
