{{ define "main" }}

  <div class="home-intro clearfix">
    <img class="home-intro-image" src='{{ .Site.Params.og_image }}'>
    <p class="home-intro-text">
      {{ readFile "/content/home/introduction.md" | markdownify }}
    </p>
  </div>

  <div class="hr"></div>

  <br>
  <h1>My work</h1>
  {{ .Content }}

  <br>
  <h1>Latest blog posts</h1>
  <section id="home">
    <ul>
      {{ range $index, $page := first 3 (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
      <li {{if eq $index 0}}class="first"{{end}}>
        <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
        <p>{{ .Summary }}</p>
        {{ partial "aside" . }}
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">Read more&hellip;</a>
        <br>
        {{ end }}
      </li>
      {{ end }}
    </ul>
    <p>
      <a href="/blog">See all blog posts...</a>
    </p>
  </section>

{{ end }}
