@import "imports/normalize.css";
@import "imports/google-fonts.css";
@import "imports/instantsearch.css";
@import "imports/instantsearch-theme-algolia.css";
@import "imports/jquery.modal.css";
@import "imports/kiera.css";
@import "imports/search.css";
@import "imports/subscribe.css";
@import "imports/blog.css";
@import "imports/work-nav.css";
@import "imports/discuss.css";

body,
h1, h2, h3, h4, h5, h6, input, textarea,
#container nav {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

p {
  margin-top: 5px;
}

#container main h1 {
  line-height: 2.3rem;
}

h1, h2, h3, h4 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

header {
  position: relative;
}

#container header h1 {
  font-family: "Ruda", sans-serif;
}

h1:first-child,
#container h1,
#container h2 {
  margin-top: 1.5rem;
}

#container main {
  font-size: 1.0rem;
  line-height: 1.5;
}

header a,
nav a {
  color: #333;
}

main a, #algolia-hits a {
  color: #3333BB;
}

header h1 {
  margin-bottom: 0.5rem;
}

header p {
  margin: 0 0 0.5rem;
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: right;
    margin: 1rem 0;
  }
  #container header ul li {
    margin: 0 0 0 1rem;
  }
}

#container header ul {
  margin-bottom: 0.5rem;
}

.home-intro {
  padding: 25px;
}

.home-intro-image {
  display: block;
  float: left;
  width: 125px;
  height: 125px;
  margin: 10px 20px;
}

.home-intro-text {
  margin: 7px 0 0;
}

@media only screen and (min-width: 700px) {
  .home-intro-text {
    float: left;
    width: 425px;
    margin-left: 25px;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

main div.hr {
  border-bottom: 4px solid #cecece;
}

#list li a {
  display: inline-block;
  width: 75%;
}

ul.pagination li.active a {
  color: #333;
}

ul.pagination li.disabled a {
  display: none;
}

.post-nav li {
  max-width: 50%;
}

#container footer {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#container footer h6 {
  margin: 25px auto;
  text-align: center;
}

.image, figure img, img {
  box-shadow: none;
}

.center {
  text-align: center;
}

ul.section-list-data {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.section-list-data > li {
  flex-grow: 1;
  width: 20%;
  border-bottom: 1px solid #cecece;
  background: #f5f5fa;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 20px 20px;
  text-align: center;
}

@media only screen and (min-width: 440px) {
  ul.section-list-data > li {
    margin-left: 15px;
    margin-right: 15px;
  }
}

ul.section-list-data.work-type-experience > li {
  border-width: 0 0 1px 0;
  border-radius: 0;
}

ul.section-list-data > li > i {
  display: block;
  font-size: 2em;
  line-height: 1em;
  margin: 15px 0 20px;
}

ul.section-list-data > li > img,
ul.section-list-data > li > a > img {
  width: 225px;
  margin: 15px 0 10px;
}

ul.section-list-data > li > a > img.less-full {
  width: 90%;
}

ul.section-list-data > li > a > img.full {
  width: 100%;
}

ul.section-list-data > li.talk > a > img {
  width: 90%;
}

ul.section-list-data > li > a,
ul.section-list-data > li > h5 {
  font-size: 1.3rem;
}

ul.section-list-data > li > h2,
ul.section-list-data > li > h5 {
  margin: 0.5rem;
}

ul.section-list-data > li > p {
  margin: 10px 0;
}

.examples,
ul.section-list-data > li > p.abstract {
  color: #999999;
}

ul.section-list-data > li.talk,
ul.section-list-data > li.engagement,
ul.section-list-data > li.job,
ul.section-list-data > li.mention {
  width: 100%;
}

ul.section-list-data > li.work-section,
ul.section-list-data > li.article,
ul.section-list-data > li.activity,
ul.section-list-data > li.project {
  width: 40%;
}

ul.work-type-urls {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.work-type-urls > li {
  display: inline-block;
  padding: 0 5px;
}

ul.work-type-urls > a {
  font-size: 0.5rem;
}

iframe {
  border: 0;
}

hr {
  background-color: #f7f7f7;
  border: 0;
  height: 1px;
}

p.spacing-icon {
  margin: 40px 60px;
}

ul.work-type-engagements,
ul.work-type-values {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  border: 0;
}

table > thead > tr > th {
  text-align: left;
  padding: 5px;
}

table > thead > tr > th,
table > tbody > tr > td {
  padding: 3px;
}

.image-outer {
  margin: 35px 0 40px;
}

.image-outer.title-image {
  margin: 0;
}

.image-outer img {
  display: block;
  margin: 0 auto;
}

.image-outer .image-caption, .caption {
  display: block;
  margin: auto;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #999999;
  font-style: italic;
}

@media (min-width: 800px) {
  .image-outer img.small {
    width: 75%;
  }
  .image-outer img.extra-small {
    width: 37.5%;
  }
}

@media (max-width: 420px) {
  #container nav ul li {
    margin-left: 0.5em;
  }
  #container nav li {
    font-size: 14px;
  }
}
