<div class="box-item f-{{ .work.category}}">
  <div class="image">
    <a target="_blank" href="{{ .work.url }}">
      {{ partial "cloudinary/custom" (dict "src" "pixel" "params" "f_auto,q_100,w_500,h_350,c_lpad,bo_3px_solid_rgb:f26b38/l_text:Arial_96:%25F0%259F%2598%2584%25F0%259F%2591%258D%25F0%259F%258C%25BB") }}
      <span class="info">
        <span class="centrize full-width">
          <span class="vertical-center">
            <span class="ion ion-link"></span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div class="desc">
    <div class="date">{{ .work.year }}</div>
    <a target="_blank" href="{{ .work.url }}" class="name">{{ .work.title }}</a>
  </div>
</div>
