<div class="box-item f-{{ .work.category}}">
  <div class="image">
    <a target="_blank" href="{{ .work.url }}">
      {{ partial "cloudinary/custom" (dict "src" .work.image_url "params" .page.Site.Params.cl_grid_image_params) }}
      <span class="info">
        <span class="centrize full-width">
          <span class="vertical-center">
            <span class="ion ion-link"></span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div class="desc">
    <div class="date">{{ dateFormat "Jan 2, 2006" .work.date }}</div>
    <a target="_blank" href="{{ .work.url }}" class="name">{{ .work.title }}</a>
  </div>
</div>
