<div class="box-item f-{{ .work.category}}">
  <div class="image">
    <a target="_blank" href="{{ .work.url }}">
      {{ partial "cloudinary/custom" (dict "src" .work.image_url "params" .page.Site.Params.cl_grid_image_params "overlay" (printf "l_text:Arial_80:hi,co_rgb:FFFFFF00,b_rgb:FFFFFFCC,w_400,y_40,g_south,h_100/l_%s,w_350,h_76,c_pad,g_south,y_50,b_rgb:EBAA21,co_rgb:FFFFFF" (replace .work.publisher_logo "/" ":"))) }}
      <span class="info">
        <span class="centrize full-width">
          <span class="vertical-center">
            <span class="ion ion-link"></span>
            <div class="link-domain">({{ (urls.Parse .work.url).Host }})</div>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div class="desc">
    <div class="date">{{ dateFormat "Jan 2, 2006" .work.date }}</div>
    <a target="_blank" href="{{ .work.url }}" class="name">{{ .work.title }}</a>
  </div>
</div>
