{{ $popupImageParams := "f_auto,q_auto,w_400" }}
{{ $popupId := replace (base64Encode .work.title) "=" "" }}
<div class="box-item f-{{ .work.category}}">
  <div class="image">
    <a href="#popup-{{ $popupId }}" class="has-popup">
      {{ partial "cloudinary/custom" (dict "src" .work.image_url "params" .page.Site.Params.cl_grid_image_params) }}
      <span class="info">
        <span class="centrize full-width">
          <span class="vertical-center">
            <span class="ion ion-ios-plus-empty"></span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div class="desc">
    <div class="date">{{ dateFormat "Jan 2, 2006" .work.date }}</div>
    <a href="#popup-{{ $popupId }}" class="name has-popup">{{ .work.title }}</a>
  </div>
  <div id="popup-{{ $popupId }}" class="popup-box mfp-fade mfp-hide">
    <div class="content">
      <div class="image">
        {{ if .work.youtube_id }}
          {{ partial "work/embeds/youtube" .work.youtube_id }}
        {{ else if .work.vimeo_id }}
          {{ partial "work/embeds/vimeo" .work.vimeo_id }}
        {{ else if .work.speakerdeck_id }}
          {{ partial "work/embeds/speakerdeck" (dict "id" .work.speakerdeck_id "ratio" .work.speakerdeck_ratio "page" .page) }}
        {{ else }}
          <a target="_blank" href="{{ .work.slides_url }}">
            {{ partial "cloudinary/custom" (dict "src" (or .work.image_url_two .work.image_url) "params" $popupImageParams) }}
          </a>
        {{ end }}
      </div>
      <div class="desc">
        <div class="category">{{ .work.category }}</div>
        <h4>{{ .work.title }}</h4>
        <p>{{ .work.description }}</p>
        {{ partial "work/tiles/_urls" .work }}
      </div>
    </div>
  </div>
</div>
