{{ define "main" }}

<article class="image-first">

    <h1>{{ .Page.Title }}</h1>

    <div class="image-outer single-image">
      <img title="{{ .Page.Title }}" src="{{ .Page.Params.Image }}">
      {{ with .Page.Params.imageCaption }}
        <div class="caption">{{ . }}</div>
      {{ end }}
    </div>

    {{ if not .Params.meta }}
        {{ partial "aside" . }}
        <div class="clearfix"></div>
    {{ end }}

    {{.Content}}

</article>

<hr>

{{ partial "discuss" . }}

{{ partial "single_footer" . }}

{{ end }}
