{{ define "started-content" -}}
              <div class="h-title glitch-effect" data-text="I'm {{ .Site.Author.name }}">
                I'm <span>{{ .Site.Author.name }}</span>
              </div>
              <div class="h-subtitle typing-subtitle">
                {{- range .Params.taglines }}
                <p>{{ . }}</p>
                {{- end }}
              </div>
              <span class="typed-subtitle"></span>
{{- end }}

{{ define "scroll-btn" -}}
        <span></span>
{{- end }}

{{ define "after-javascripts" -}}
  {{- partial "layout/loading/preload-styles" . -}}
{{- end }}
