{{ $list := or (.Get "list") $.Page.Params.dataList }}
{{ $tag := .Get "tag" }}
{{ $class := or (.Get "class") "work-type-list" }}
{{ .Page.Site.Params.dateFormatLayout }}
{{ with index $.Site.Data.work $list }}
  <ul class="{{ $class }}">
  {{ range $key, $element := . }}
    {{ range $element }}
      {{ if ne .hidden true }}
        {{ if or (not $tag) (eq $tag .tag)}}
          {{ partial (printf "work-types/%s.html" $key) . $ }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  </ul>
{{ end }}
