{{ define "main" }}
  <div class="section photo">
    <div class="content">
      {{ partial "cloudinary" (index .Params.images 0) }}
    </div>
  </div>
  <div class="section about">
    <div class="content">
      <div class="title">
        <div class="title_inner">{{ .Page.Title }}</div>
      </div>
      <div class="image">
        {{ partial "cloudinary" .Site.Author.avatar }}
      </div>
      <div class="desc">
        <p>{{ .Page.Params.sectionDesc | markdownify }}</p>
        <div class="info-list">
          <ul>
            <li><strong>Name:</strong> {{ .Site.Author.name }}</li>
            <li><strong>Hometown:</strong> {{ .Site.Author.hometown }}</li>
            <li><strong>1st Computer:</strong> {{ .Site.Author.computer }}</li>
            <li><strong>E-mail:</strong> {{ .Site.Author.email }}</li>
            <li><strong>Residence: </strong> {{ .Site.Author.residence }}</li>
            <li><strong>Favorite Food:</strong> {{ .Site.Author.food }}</li>
          </ul>
        </div>
        <div class="bts"><a target="_blank" href="https://linkedin.com/in/{{ .Site.Author.linkedin }}" class="btn fill" data-text="View CV">View CV</a></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="section photo">
    <div class="content">
      {{ partial "cloudinary" (index .Params.images 1) }}
    </div>
  </div>
  <div class="section resume">
    <div class="content">
      <div class="cols">
        <div class="col">
          <div class="title">
            <div class="title_inner">Experience</div>
          </div>
          <div class="resume-items">
            {{ range $.Site.Data.work.jobs.job -}}
              {{ partial "timeline-item" . }}
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section photo">
    <div class="content">
      {{ partial "cloudinary" (index .Params.images 2) }}
    </div>
  </div>
  <div class="section skills">
    <div class="content">
      <div class="title">
        <div class="title_inner">Do I still code? (according to Github)</div>
      </div>
      {{ partial "skills" $.Site.Data.work.stats.github }}
    </div>
  </div>
{{ end }}
