<script>
  $('.typed-load').typed({
    stringsElement: $('.typing-load'),
    loop: true
  });
  // don't fade while the typing is happening
  setTimeout(function() {
    $(".preloader .pre-inner").fadeOut(250, function() {
      loaded();
    });
  }, 800);
  $('header, footer, .typed-bread').on('click', 'a:not(.has-popup)', function(){
    var link = $(this).attr('href');
    $("body").addClass("unloaded");
    setTimeout(function() {
      location.href = "" + link;
    }, 600);
    return false;
  });
</script>
